
<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
<link rel="stylesheet" type="text/css" href="calc.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="calculatorApp" ng-controller="CalculatorCtrl">
    <h1>MO Calculator</h1>
	<div id= 'calculator'>
	<form>
	<input type= 'text' value="{{display}}" id= 'display' disabled>
	<br>
	<input type= 'button' value='C' id='keys1' ng-click= "clear()">
	<input type= 'button' value='CE' id='keys1' ng-click= 'backspace()'>
	<input type= 'button' value='x^2' id='keys1' ng-click="power()">
	<input type= 'button' value='+' id='keys1' ng-click="inputs('+')">
    <br>
	<input type= 'button' value='9' id='keys' ng-click="inputs('9')">
	<input type= 'button' value='8' id='keys' ng-click="inputs('8')">
	<input type= 'button' value='7' id='keys' ng-click= "inputs('7')">
	<input type= 'button' value='-' id='keys' ng-click= "inputs('-')">
    <br>
	<input type= 'button' value='6' id='keys' ng-click= "inputs('6')">
	<input type= 'button' value='5' id='keys' ng-click= "inputs('5')">
	<input type= 'button' value='4' id='keys' ng-click= "inputs('4')">
	<input type= 'button' value='*' id='keys' ng-click= "inputs('*')">
    <br>
	<input type= 'button' value='3' id='keys' ng-click="inputs('3')">
	<input type= 'button' value='2' id='keys' ng-click= "inputs('2')">
	<input type= 'button' value='1' id='keys' ng-click= "inputs('1')">
	<input type= 'button' value='/' id='keys' ng-click= "inputs('/')">
    <br>
	<input type= 'button' value='0' id='keys' ng-click= "inputs('0')">
	<input type= 'button' value='.' id='keys' ng-click= "inputs('.')">
	<input type= 'button' value='=' id='equal' ng-click= "equal()">
	</form>
    <h3>MO Calculator
	
	</div>

</body>









</html>