 body{
     background-size:cover;
     text-align:center;	
      background-color:#ffff90;
 }   
 h1{
    color:#ffffd8;
	font-weight:bold;
	font-size:3em;
	text-shadow: 2px 4px 5px black;
 }
 #calculator{
            background-color: #ffb66c;
			width: 240px;
			height: 325px;
			border: 10px solid black;
			padding: 10px;
			border-radius: 20px;
			margin: 50px auto;
			box-shadow: 0px 0px 3px 6px #ccc;
 }

 #display{
          margin-bottom: 20px;
          height: 33px;
          width: 240px;
		  border: 1px solid px;
		  border radius: 5px;
		  box-shadow: 0px 0px 1px 1px black;
		  text-align: right;
		  font: 20px bold;
 }
 
 #keys{
       width:44px;
	   height: 38px;
	   margin: 4px;
	   box-shadow: 0px 0px 2px 1px; white;
       border radius: 2px;
       outline:none;
       background-color:black;	
       border-radius:20px bold;	  
	   color:white;
 }
 #keys:hover {
 background-color:#ffffb4;
 }
          
 #equal{
       width:100px;
	   height: 40px;
	   margin: 4px;
	   box-shadow: 0px 0px 2px 1px; black;
       border radius: 2px;
       outline:none;
       background-color:#ffecd8;	   
 }        
#equal:hover{
 background-color:#c8ff90;	
       	   
 }
 
#keys1{
       width:44px;
	   height: 42px;
	   margin: 4px;
	   box-shadow: 0px 0px 2px 1px; black;
       border radius: 2px;
       outline:none;
       background-color:#800000;	
       border-radius:20px bold;	   

 }